# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/*
# !.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

temp
coverage

examples/*/**/*
!examples/*/*.typ
!examples/*/content.json
!examples/*/extra-*.md
examples/*/extra-*.typ
!examples/*/problem-*.md
examples/*/problem-*.typ
!examples/*/**/*.ts
!examples/*/**/*.tsx

templates/*/generated_schema.json
