header {
  display: grid;
  grid-template-columns:
    minmax(max-content, 1fr) minmax(max-content, 2fr)
    minmax(max-content, 1fr);
  align-items: center;
  gap: 12px;
  padding: 8px 12px 0;
  > .file-name {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: var(--ant-color-text-secondary);
  }
}
