@font-face {
  font-family: "Jellee-Roman";
  src: url("assets/Jellee-Roman.woff2") format("woff2");
}
.app {
  padding: 8px;
}
.root-header {
  display: flex;
  > a {
    color: #000;
    transition: none;
    :hover {
      color: #000;
    }
    :active {
      color: #000;
    }
  }
  > :nth-child(1) {
    flex: 1;
    margin: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    .favicon {
      height: 32px;
      width: 32px;
    }
    .app-title {
      margin: 0;
      font-family: "Jellee-Roman";
      font-size: 24px;
    }
  }
  > :nth-child(2) {
    align-items: center;
    font-size: 32px;
  }
}
.root-container {
  display: flex;
  gap: 16px;
  margin: 8px;
}
.root-main {
  flex: 1;
}
.root-changelog {
  width: 300px;
  height: calc(100vh - 100px);
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
  h1 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  > article {
    color: var(--ant-color-text-secondary);
  }
  @media (max-width: 700px) {
    display: none;
  }
}
.root-button-group {
  display: flex;
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px;
  }
  > :nth-child(1) {
    flex: 1;
  }
  .root-button-group-sortby {
    width: 120px;
  }
}
